In [1]:
import pandas as pd

In [2]:
uci = pd.read_csv('./casos_hosp_uci_def_sexo_edad_provres.csv')

In [3]:
uci.head()

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
0,A,H,0-9,2020-01-01,0,0,0,0
1,A,H,10-19,2020-01-01,0,0,0,0
2,A,H,20-29,2020-01-01,0,0,0,0
3,A,H,30-39,2020-01-01,0,0,0,0
4,A,H,40-49,2020-01-01,0,0,0,0

In [4]:
uci.tail()

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
1160695,ZA,NC,50-59,2021-12-30,0,0,0,0
1160696,ZA,NC,60-69,2021-12-30,0,0,0,0
1160697,ZA,NC,70-79,2021-12-30,0,0,0,0
1160698,ZA,NC,80+,2021-12-30,0,0,0,0
1160699,ZA,NC,NC,2021-12-30,0,0,0,0

In [5]:
alava = uci[uci['provincia_iso'] == 'VI']
albacete = uci[uci['provincia_iso'] == 'AB']
alicante = uci[uci['provincia_iso'] == 'A']
almeria = uci[uci['provincia_iso'] == 'AL']
asturias = uci[uci['provincia_iso'] == 'O']
avila = uci[uci['provincia_iso'] == 'AV']
badajoz = uci[uci['provincia_iso'] == 'BA']
baleares = uci[uci['provincia_iso'] == 'PM']
barcelona = uci[uci['provincia_iso'] == 'B']
burgos = uci[uci['provincia_iso'] == 'BU']
caceres = uci[uci['provincia_iso'] == 'CC']
cadiz = uci[uci['provincia_iso'] == 'CA']
cantabria = uci[uci['provincia_iso'] == 'S']
castellon = uci[uci['provincia_iso'] == 'CS']
ceuta = uci[uci['provincia_iso'] == 'CE']
ciudad_real = uci[uci['provincia_iso'] == 'CR']
cordoba = uci[uci['provincia_iso'] == 'CO']
cuenca = uci[uci['provincia_iso'] == 'CU']
gerona = uci[uci['provincia_iso'] == 'GI']
granada = uci[uci['provincia_iso'] == 'GR']
guadalajara = uci[uci['provincia_iso'] == 'GU']
guipuzcoa = uci[uci['provincia_iso'] == 'SS']
huelva = uci[uci['provincia_iso'] == 'H']
huesca = uci[uci['provincia_iso'] == 'HU']
jaen = uci[uci['provincia_iso'] == 'J']
coruña = uci[uci['provincia_iso'] == 'C']
rioja = uci[uci['provincia_iso'] == 'LO']
palmas = uci[uci['provincia_iso'] == 'GC']
leon = uci[uci['provincia_iso'] == 'LE']
lerida = uci[uci['provincia_iso'] == 'L']
lugo = uci[uci['provincia_iso'] == 'LU']
madrid = uci[uci['provincia_iso'] == 'M']
malaga = uci[uci['provincia_iso'] == 'MA']
melilla = uci[uci['provincia_iso'] == 'ME']
murcia = uci[uci['provincia_iso'] == 'MU']
navarra = uci[uci['provincia_iso'] == 'NA']
orense = uci[uci['provincia_iso'] == 'OR']
palencia = uci[uci['provincia_iso'] == 'P']
pontevedra = uci[uci['provincia_iso'] == 'PO']
salamanca = uci[uci['provincia_iso'] == 'SA']
tenerife = uci[uci['provincia_iso'] == 'TF']
segovia = uci[uci['provincia_iso'] == 'SG']
sevilla = uci[uci['provincia_iso'] == 'SE']
soria = uci[uci['provincia_iso'] == 'SO']
tarragona = uci[uci['provincia_iso'] == 'T']
teruel = uci[uci['provincia_iso'] == 'TE']
toledo = uci[uci['provincia_iso'] == 'TO']
valencia = uci[uci['provincia_iso'] == 'V']
valladolid = uci[uci['provincia_iso'] == 'VA']
vizcaya = uci[uci['provincia_iso'] == 'BI']
zamora = uci[uci['provincia_iso'] == 'ZA']
zaragoza = uci[uci['provincia_iso'] == 'Z']

In [6]:
print(set(list(uci['grupo_edad'])))

{'40-49', '10-19', '60-69', '30-39', '0-9', '80+', 'NC', '70-79', '50-59', '20-29'}

In [7]:
edad_0_9 = uci[uci['grupo_edad'] == '0-9']
edad_10_19 = uci[uci['grupo_edad'] == '10-19']
edad_20_29 = uci[uci['grupo_edad'] == '20-29']
edad_30_39 = uci[uci['grupo_edad'] == '30-39']
edad_40_49 = uci[uci['grupo_edad'] == '40-49']
edad_50_59 = uci[uci['grupo_edad'] == '50-59']
edad_60_69 = uci[uci['grupo_edad'] == '60-69']
edad_70_79 = uci[uci['grupo_edad'] == '70-79']
edad_80 = uci[uci['grupo_edad'] == '80+']
edad_NC = uci[uci['grupo_edad'] == 'NC']

In [8]:
alava.dtypes

provincia_iso    object
sexo             object
grupo_edad       object
fecha            object
num_casos         int64
num_hosp          int64
num_uci           int64
num_def           int64
dtype: object

### Agrupacion de valores en la provincia

In [9]:
def eliminar_cola(provincia):
    provincia = provincia.reset_index()
    provincia = provincia.iloc[:21780 , :]
    return provincia

In [10]:
eliminar_cola(alava)

,index,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
0,1500,VI,H,0-9,2020-01-01,0,0,0,0
1,1501,VI,H,10-19,2020-01-01,0,0,0,0
2,1502,VI,H,20-29,2020-01-01,0,0,0,0
3,1503,VI,H,30-39,2020-01-01,0,0,0,0
4,1504,VI,H,40-49,2020-01-01,0,0,0,0
...,...,...,...,...,...,...,...,...,...
21775,1154275,VI,NC,50-59,2021-12-26,0,0,0,0
21776,1154276,VI,NC,60-69,2021-12-26,0,0,0,0
21777,1154277,VI,NC,70-79,2021-12-26,0,0,0,0
21778,1154278,VI,NC,80+,2021-12-26,0,0,0,0
21779,1154279,VI,NC,NC,2021-12-26,0,0,0,0

In [11]:
def agrupar_edades_y_semanas(provincia , nombre):
    casos_semanales = []
    hospitalizaciones_semanales = []
    uci_semanales = []
    fallecimientos_semanales = []

    semana = 2
    semanas = []
    posicion_lunes = 5

    casos_dia = provincia.groupby('fecha')['num_casos'].sum()
    casos_dia = pd.DataFrame(casos_dia)
    casos_dia = casos_dia.fillna(0)
    fechas = list(casos_dia.index.values)

    hospitalizaciones_diarias = provincia.groupby('fecha')['num_hosp'].sum()
    hospitalizaciones_diarias = pd.DataFrame(hospitalizaciones_diarias)
    hospitalizaciones_diarias = hospitalizaciones_diarias.fillna(0) 

    ucis_diarias = provincia.groupby('fecha')['num_uci'].sum()
    ucis_diarias = pd.DataFrame(ucis_diarias)
    ucis_diarias = ucis_diarias.fillna(0)

    muertes_diarias = provincia.groupby('fecha')['num_def'].sum()
    muertes_diarias = pd.DataFrame(muertes_diarias)
    muertes_diarias = ucis_diarias.fillna(0)
    
    while len(semanas) <= 102:
        #Numero de casos
        try:
            casos_semana = casos_dia.iloc[posicion_lunes , 0] + casos_dia.iloc[posicion_lunes + 1 , 0] + casos_dia.iloc[posicion_lunes+2 , 0] + casos_dia.iloc[posicion_lunes+3 , 0] + casos_dia.iloc[posicion_lunes+4 , 0] + casos_dia.iloc[posicion_lunes+5 , 0] + casos_dia.iloc[posicion_lunes + 6 , 0]
            casos_semanales.append(casos_semana)
            #print(casos_semanales)
        except:
            pass
        #Numero de hospitalizaciones
        try:
            hospitalizaciones_semana = hospitalizaciones_diarias.iloc[posicion_lunes , 0] + hospitalizaciones_diarias.iloc[posicion_lunes + 1 , 0] + hospitalizaciones_diarias.iloc[posicion_lunes+2 , 0] + hospitalizaciones_diarias.iloc[posicion_lunes+3 , 0] + hospitalizaciones_diarias.iloc[posicion_lunes+4 , 0] + hospitalizaciones_diarias.iloc[posicion_lunes+5 , 0] + hospitalizaciones_diarias.iloc[posicion_lunes + 6 , 0]
            hospitalizaciones_semanales.append(hospitalizaciones_semana)
        except:
            pass
        #Numero de UCIs
        try:
            ucis_semana = ucis_diarias.iloc[posicion_lunes , 0] + ucis_diarias.iloc[posicion_lunes + 1 , 0] + ucis_diarias.iloc[posicion_lunes+2 , 0] + ucis_diarias.iloc[posicion_lunes+3 , 0] + ucis_diarias.iloc[posicion_lunes+4 , 0] + ucis_diarias.iloc[posicion_lunes+5 , 0] + ucis_diarias.iloc[posicion_lunes + 6 , 0]
            uci_semanales.append(ucis_semana)
        except:
            pass
        #Numero de fallecidos
        try:
            muertes_semana = muertes_diarias.iloc[posicion_lunes , 0] + muertes_diarias.iloc[posicion_lunes + 1 , 0] + muertes_diarias.iloc[posicion_lunes+2 , 0] + muertes_diarias.iloc[posicion_lunes+3 , 0] + muertes_diarias.iloc[posicion_lunes+4 , 0] + muertes_diarias.iloc[posicion_lunes+5 , 0] + muertes_diarias.iloc[posicion_lunes + 6 , 0]
            fallecimientos_semanales.append(muertes_semana)
        except:
            pass
        semanas.append(semana)
        semana += 1
        posicion_lunes += 7




    casos_semanales = pd.Series(casos_semanales)
    hospitalizaciones_semanales = pd.Series(hospitalizaciones_semanales)
    uci_semanales = pd.Series(uci_semanales)
    fallecimientos_semanales = pd.Series(fallecimientos_semanales)
    semanas = pd.Series(semanas)


    nombre['Semana'] = semanas
    nombre['Casos'] = casos_semanales
    nombre['Hospitalizaciones'] = hospitalizaciones_semanales
    nombre['Ingresos UCI'] = uci_semanales
    nombre['Fallecimientos'] = fallecimientos_semanales

    return nombre

In [12]:
alava_p = pd.DataFrame()
albacete_p = pd.DataFrame()
alicante_p = pd.DataFrame()
almeria_p = pd.DataFrame()
asturias_p =  pd.DataFrame()
avila_p = pd.DataFrame()
badajoz_p = pd.DataFrame()
baleares_p = pd.DataFrame()
barcelona_p = pd.DataFrame()
burgos_p = pd.DataFrame()
caceres_p = pd.DataFrame()
cadiz_p = pd.DataFrame()
cantabria_p = pd.DataFrame()
castellon_p = pd.DataFrame()
ciudad_real_p = pd.DataFrame()
cordoba_p = pd.DataFrame()
cuenca_p = pd.DataFrame()
gerona_p = pd.DataFrame()
granada_p = pd.DataFrame()
guadalajara_p = pd.DataFrame()
guipuzcoa_p = pd.DataFrame()
huelva_p = pd.DataFrame()
huesca_p = pd.DataFrame()
jaen_p = pd.DataFrame()
coruña_p = pd.DataFrame()
rioja_p = pd.DataFrame()
palmas_p = pd.DataFrame()
leon_p = pd.DataFrame()
lerida_p = pd.DataFrame()
lugo_p = pd.DataFrame()
madrid_p = pd.DataFrame()
malaga_p = pd.DataFrame()
murcia_p = pd.DataFrame()
navarra_p = pd.DataFrame()
orense_p = pd.DataFrame()
palencia_p = pd.DataFrame()
pontevedra_p = pd.DataFrame()
salamanca_p = pd.DataFrame()
tenerife_p = pd.DataFrame()
segovia_p = pd.DataFrame()
sevilla_p = pd.DataFrame()
soria_p = pd.DataFrame()
tarragona_p = pd.DataFrame()
teruel_p = pd.DataFrame()
toledo_p = pd.DataFrame()
valencia_p = pd.DataFrame()
valladolid_p = pd.DataFrame()
vizcaya_p = pd.DataFrame()
zamora_p = pd.DataFrame()
zaragoza_p = pd.DataFrame()
ceuta_p = pd.DataFrame()
melilla_p = pd.DataFrame()

In [13]:
lista_prov = [alava , albacete , alicante , almeria , asturias , avila , badajoz , baleares , barcelona , burgos , caceres , cadiz , cantabria , castellon , ciudad_real , cordoba , cuenca , gerona , granada , guadalajara , guipuzcoa , huelva , huesca , jaen , coruña , rioja , palmas , leon , lerida , lugo , madrid , malaga , murcia , navarra , orense , palencia , pontevedra , salamanca , tenerife , segovia , sevilla , soria , tarragona , teruel , toledo , valencia , valladolid , vizcaya , zamora , zaragoza , ceuta , melilla]
lista_prov_p = [alava_p , albacete_p , alicante_p , almeria_p , asturias_p , avila_p , badajoz_p , baleares_p , barcelona_p , burgos_p , caceres_p , cadiz_p , cantabria_p , castellon_p , ciudad_real_p , cordoba_p , cuenca_p , gerona_p , granada_p , guadalajara_p , guipuzcoa_p , huelva_p , huesca_p , jaen_p , coruña_p , rioja_p , palmas_p , leon_p , lerida_p , lugo_p , madrid_p , malaga_p , murcia_p , navarra_p , orense_p , palencia_p , pontevedra_p , salamanca_p , tenerife_p , segovia_p , sevilla_p , soria_p , tarragona_p , teruel_p , toledo_p , valencia_p , valladolid_p , vizcaya_p , zamora_p , zaragoza_p , ceuta_p , melilla_p]

In [14]:
posicion = 0
for provincia in lista_prov:
    provincia_purgada = lista_prov_p[posicion]
    agrupar_edades_y_semanas(provincia , provincia_purgada)
    posicion += 1

C:\Users\jorar\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:61: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
C:\Users\jorar\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:62: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
C:\Users\jorar\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:63: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
C:\Users\jorar\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:64: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [15]:
def guardado_csv(dataframe , nombre):
    dataframe.to_csv('./purgado/provincias_completo/' + nombre + '_provincias_completo.csv' , sep= ';' , index= False)
lista_provincias = ['alava' , 'albacete' , 'alicante' , 'almeria' , 'asturias' , 'avila' , 'badajoz' , 'baleares' , 'barcelona' , 'burgos' , 'caceres' , 'cadiz' , 'cantabria' , 'castellon' , 'ciudad_real' , 'cordoba' , 'cuenca' , 'gerona' , 'granada' , 'guadalajara' , 'guipuzcoa' , 'huelva' , 'huesca' , 'jaen' , 'coruña' , 'rioja' , 'palmas' , 'leon' , 'lerida' , 'lugo' , 'madrid' , 'malaga' , 'murcia' , 'navarra' , 'orense' , 'palencia' , 'pontevedra' , 'salamanca' , 'tenerife' , 'segovia' , 'sevilla' , 'soria' , 'tarragona' , 'teruel' , 'toledo' , 'valencia' ,'valladoli' , 'vizcaya' , 'zamora' , 'zaragoza' , 'ceuta' , 'melilla']

In [16]:
posicion = 0
for provincia in lista_prov_p:
    nombre = lista_provincias[posicion]
    guardado_csv(provincia , nombre)
    posicion += 1